.planet-card {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 0.5em;
  border: 0.2em solid gray;
  border-radius: 0.5em;
}

.planet-card:hover {
  background-color: darkgray;
}

.planet-card .card-label {
  font-weight: bold;
}

.planet-card .card-label span {
  font-weight: normal;
}

